<div class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 translate>ABOUT_US</h3>
                <div ng-bind-html="short_description"></div>
            </div>
            <div class="col-md-3">
                <h3 translate>NAVIGATION</h3>
                <div class="company-navigation">
                    <ul class="list">
                        <li>
                            <a ui-sref="base" ui-sref-active="active" translate>
                                HOME
                            </a>
                        </li>
                        <li>
                            <a ui-sref="products" ui-sref-active="active" translate>
                                PRODUCTS
                            </a>
                        </li>
                        <li>
                            <a ui-sref="about" ui-sref-active="active" translate>
                                ABOUT
                            </a>
                        </li>
                        <li>
                            <a ui-sref="careers" ui-sref-active="active" translate>
                                CAREERS
                            </a>
                        </li>
                        <li>
                            <a ui-sref="contact" ui-sref-active="active" translate>
                                CONTACT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="secondary-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    Honeylizard &copy; 2017
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a ui-sref="privacy-policy" ui-sref-active="active" translate>
                    PRIVACY_POLICY
                </a>
                &nbsp;
                <a ui-sref="terms-conditions" ui-sref-active="active" translate>
                    TERMS_OF_USE
                </a>
            </div>
        </div>
    </div>
</div>
